<!doctype html>
<html data-path="{{page.path}}">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>{{site.title}}</title>

    <link href="{{site.baseurl}}/img/favicon.ico" rel="icon" type="image/x-icon">
    <link rel="stylesheet" href="{{site.baseurl}}/stylesheets/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>{{site.title}}</h1>

        <p class="view"><a href="https://pinboard.in/u:dhcole/t:writing/#">Writing</a></p>
        <p class="view"><a href="https://twitter.com/dhcole">Tweets</a></p>
        <p class="view"><a href="https://github.com/dhcole">Code</a></p>
        <p class="view"><a href="https://pinboard.in/u:dhcole/t:press/?sort=date#">Press</a></p>
        <p class="view"><a href="mailto:dave@dhcole.com">Contact</a></p>

      </header>
      <section class="content" data-field="content">
        {{content}}
      </section>
      <footer>
      </footer>
    </div>

    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-54048819-1', 'auto');
      ga('send', 'pageview');
    
    </script>

  </body>
</html>
